@import '../variables';
@import '../functions';


// body {
    // background: color(primary-light);
    // box-sizing: border-box;
// }
.dashboard {
    display: flex;
    height: 100vh;
    // margin: 5em;
    position: relative;
    // border-radius:  $borders;
    // box-shadow:  0 10px 30px rgba(0,0,0, 0.2); 

}

.aside {
    width: 20%;
    background: white;
    // overflow: auto;
    border-radius:  $padding 0px 0px $padding;
}
.main {
    width: 80%;
}

.nav {
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
}

#top-view {
    background: color(primary-dark);
    height: 15em;
    // border-radius: 0px $padding 0px 0px;
}

.search-input {
    height: 35px;
    width: 60% !important;
    padding: 0 $padding;
    border-radius: 15px;
    border: solid white 2.3px;
    background: none;   
}

#dashboard-image {
    border-radius: 50%;
    object-fit: contain;
    height: 40px;
    margin-left: 4px;
}

#nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
    color: white;
    }
}

#down-view{
    background: white;
    width: 77%;
    border-radius: $padding;
    top: 20%;
    left: 21.5%;
    height: 34em;
    position: absolute;
    #overview {
        .nav {
            ul {
                li {
                    text-decoration: none;
                    display: inline;
                    padding-right: 15px;
                }
            }
        }
    }
}

.graph {
    // box-sizing: border-box;
    // padding: $padding;
    // margin: 0 $padding;
    box-shadow:  0 10px 30px rgba(0,0,0, 0.2); 
}
.graph-space {
    margin-bottom: 20px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 4px rgba(0,0,0, 0.2);
}

.dashboard-icon {
    margin-right: 15px;
    font-size: 2em;
}
.ul-graph {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.li-graph-one{
  font-size: 1.2em;
  font-weight: bold;
  color: color(secondary-light);
}
.li-graph-two{
    font-size: 1.2em;
    color: color(primary-light);
    font-weight: bold;
  }
  .remove-margin {
    margin-right: 0px !important; 
    margin-left: 0px !important;
  }